<!DOCTYPE html>
<html>
<head>
    <title>Hod kostkou </title>
    <link rel="stylesheet" href="/static/css/style.css">
    <meta charset="utf-8">
</head>
<body>
    <center > <u><h1> <pre> <font size="+10"> KOSTKA  </font></pre> </h1> </u> </center>
   <center> <div class="tlacitko">
  <h1> <font size ="+6"> <button onClick="window.location.reload()"> Hoď znova  </button> </font> </h1>
  </div>

  <pre> <h1>Aktualní skore</h1> </pre>
 <div class="skoreja"> <h2>já</h2>{{text3}} </div>
<div class="skorepc" > <h2>pc </h2>{{text4}} </div>
  </center>
    <center><b>
        <div class="row" >
        <div class="ja">
       <h1> Hodil jsi </h1> 
    <img src="/static/img/{{ text }}.jpg">
</div>

    <div>
    <div class="pc">
   <h1>Počítač hodil </h1> 
    <img src="/static/img/{{ text1 }}.jpg">
</div>

    </div>
</div>

   
</b>
</center>
<center>
<div class="nadpis">
 <h1>{{text2}}</h1>
 </div>
 </center>
</html>
